@model COVID.Controllers.HomeController.HomeViewModel
@{
    ViewData["Title"] = "Home Page";



}
<style>
    .percent-box {
        top: 10px;
        font-size: 15px;
    }

    .inner p {
        text-align: left;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .fa-level-up-alt {
        color: #ffd800;
    }

    .fa-angle-double-up {
        color: #ffd800;
        font-size: 40px;
    }

    .titulo h1 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial, Helvetica", "sans-serif";
        color: #333333;
    }

    .inner small {
        top: -10px;
    }

    .second-box {
        border-left: 5px solid #f3f3f4
    }

    .color-laranja {
        color: #f3f3f4;
        /*font-weight: 700;*/
    }
</style>

<div class="col-md-12">
    <div class="row">
        <div class="col-lg-3">
            <button class="btn-dark percent-box">
                <div class="small-box percent-box">
                    <div class="inner p" style="text-align: center; padding: 20px">
                        <p>TOTAL DE MORTES POR DIA NO BRASIL</p>
                        <h1>@(Model.VW01_COVID_UF.Where(x => x.DATA >= ViewBag.dataOntem).Sum(x => x.ULTIMO_CASO_MORTE).Value.ToString("N0")) <span style="font-size: 27px;"></span></h1>
                        <small></small>
                    </div>
                    <div class="percent-box"></div>
                </div>
            </button>
        </div>
        <div class="col-lg-3">
            <button class="btn-dark percent-box">
                <div class="small-box percent-box">
                    <div class="inner" style="text-align: center; padding: 20px">
                        <p>CASOS DE COVID NO BRASIL</p>
                        <h1>@(Model.VW01_COVID_UF.Where(x => x.DATA >= ViewBag.dataOntem).Sum(x =>Convert.ToInt64(x.ULTIMA_CASO_CONFIRMADO)).ToString("N0")) <span style="font-size: 27px;"></span></h1>
                        <small></small>
                    </div>
                    <div class="percent-box"></div>
                </div>
            </button>
        </div>
        <div class="col-lg-3">
            <button class="btn-dark percent-box">
                <div class="small-box percent-box">
                    <div class="inner" style="text-align: center; padding: 20px">
                        <p>NÚMERO DE CONFIRMADOS HOJE NO BRASIL</p>
                        <h1>@(Model.VW01_COVID_UF.Where(x => x.DATA >= ViewBag.dataOntem).Sum(x =>Convert.ToInt64(x.NOVA_CONFIRMACAO)).ToString("N0")) <span style="font-size: 27px;"></span></h1>
                        <small></small>
                    </div>
                    <div class="percent-box"></div>
                </div>
            </button>
        </div>
        <div class="col-lg-3">
            <button class="btn-dark percent-box">
                <div class="small-box percent-box">
                    <div class="inner" style="text-align: center; padding: 20px">
                        <p>POPULAÇÃO ESTIMADA</p>
                        <h1>@(Model.VW01_COVID_UF.Where(x => x.DATA >= ViewBag.dataOntem).Sum(x =>Convert.ToInt64(x.POPULACAO_ESTIMADA)).ToString("N0")) <span style="font-size: 27px;"></span></h1>
                        <small></small>
                    </div>
                    <div class="percent-box"></div>
                </div>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 shadow-graph" style="margin-top:20px">
            <figure class="highcharts-figure">
                <div style="height:350px" id="visao-online"></div>
            </figure>
        </div>
        <div class="col-md-12 shadow-graph" style="margin-top:15px">
            <figure class="highcharts-figure">
                <div style="height:350px" id="visao-online-novas"></div>
            </figure>
        </div>
        <div class="col-md-12 shadow-graph" style="margin-top:15px">
            <figure class="highcharts-figure">
                <div style="height:350px" id="visao-online-uf"></div>
            </figure>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/highcharts/highcharts.min.js"></script>
    <script type="text/javascript">

    var charOnlineSite = Highcharts.chart('visao-online', {
                chart: {
                    type: 'line',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Visão Online Casos Confirmados COVID19'
                },
                xAxis: {
                    categories:  [@Html.Raw("'" + String.Join("','", Model.VW02_COVID_ONLINE.Select(x => x.DATA_COMPLETA.Value.ToString("dd/MM/yyyy"))) + "'")]
                },
                yAxis: {
                    title: {
                        text: 'Casos Confirmados'
                    },
                    min:0
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: false
                        },
                    }
                },
                credits: {
                    enabled: false
                },
                 series: [{
                     name: 'São Paulo',
                      data: [@Html.Raw(String.Join(",", Model.VW02_COVID_ONLINE.Where(x => x.ESTADO == "SP").Select(x => x.NOVA_CONFIRMACAO)))]
                },{
                         name: 'Distrito Federal',
                    data: [@Html.Raw(String.Join(",", Model.VW02_COVID_ONLINE.Where(x => x.ESTADO == "DF").Select(x => x.NOVA_CONFIRMACAO)))]
                },{
                         name: 'Minas Gerais',
                    data: [@Html.Raw(String.Join(",", Model.VW02_COVID_ONLINE.Where(x => x.ESTADO == "MG").Select(x => x.NOVA_CONFIRMACAO)))]
                }
                  ]
    });
    var charOnlineSite = Highcharts.chart('visao-online-novas', {
                chart: {
                    type: 'line',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Visão Online Novos Casos COVID19'
                },
                xAxis: {
                    categories:  [@Html.Raw("'" + String.Join("','", Model.VW02_COVID_ONLINE.Select(s => s.DATA.Value.ToString("dd/MM/yyyy")).Distinct()) + "'")]
                },
                yAxis: {
                    title: {
                        text: 'Casos Confirmados'
                    },
                    min:0
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: false
                        },
                    }
                },
                credits: {
                    enabled: false
                },
                 series: [{
                     name: 'TOTAL NO BRASIL',
                      data: [@Html.Raw(String.Join(",", Model.VW02_COVID_ONLINE.GroupBy(x => x.DATA).Select(x => x.Sum(x =>Convert.ToInt32(x.ULTIMA_CASO_CONFIRMADO)))))]
                }
                  ]
    });
        var charOnlineSite = Highcharts.chart('visao-online-uf', {
                chart: {
                zoomType: 'xy',
                type: 'column'
                },
                title: {
                    text: 'Visão Online Novos Casos HOJE'
                },
                xAxis: {
                    categories:  [@Html.Raw("'" + String.Join("','", Model.VW01_COVID_UF.Select(x=>x.ESTADO).Distinct()) + "'")]
                    ,crosshair:true
            },
                yAxis: {
                    title: {
                        text: 'Casos Confirmados',

                    },
                    min:0
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: false
                        },
                    }
            },

                credits: {
                    enabled: false
                },
                 series: [{
                     name: 'Casos confirmados' ,
                      data: [@Html.Raw(String.Join(",", Model.VW01_COVID_UF.GroupBy(x => x.ESTADO).Select(x => x.Sum(x =>Convert.ToInt32(x.ULTIMA_CASO_CONFIRMADO)))))]
                }
                  ]
                   });


    </script>
}